<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="Software Potential" value="https://srv.softwarepotential.com/NuGet/nuget/" />
    <add key="LocalSP" value="https://localhost/sp.web.develop.nuget/nuget" />
    <add key="Test Software Potential" value="https://srv.testsoftwarepotential.com/NuGet/nuget" />
  </packageSources>
  <disabledPackageSources>
    <add key="Software Potential" value="true" />
    <add key="LocalSP" value="true" />
    <add key="Test Software Potential" value="true" />
  </disabledPackageSources>
  <activePackageSource>
    <add key="Test Software Potential" value="https://srv.testsoftwarepotential.com/NuGet/nuget" />
  </activePackageSource>
</configuration>