<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="2.11.4" targetFramework="net40" />
  <package id="AutoFixture.Xunit" version="2.11.4" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" requireReinstallation="true" />
  <package id="IdentityModel" version="4.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="RestSharp" version="104.1" targetFramework="net40" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net462" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net462" />
  <package id="System.Xml.XPath.XDocument" version="4.3.0" targetFramework="net462" />
  <package id="xunit" version="1.9.2" targetFramework="net40" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net40" />
</packages>